<div>
    <a class="auth-action"
       asp-area="Administration"
       asp-controller="Account"
       asp-action="Login">@Localizer["Login"]</a>
    <a class="auth-action"
       asp-area="Administration"
       asp-controller="Account"
       asp-action="Register">@Localizer["Register"]</a>
</div>
