@inject Microsoft.AspNetCore.Identity.SignInManager<OakChan.Identity.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <div>
        <span class="user-name">@User.Identity.Name</span>
        <a class="auth-action" asp-area="Administration" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
    </div>
}
else
{
    <div>
        <a class="auth-action" asp-area="Administration" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
        <a class="auth-action" asp-area="Administration" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
    </div>
}