<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/generic.css" />
    <link rel="stylesheet" href="~/css/post.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/homePage.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/scripts/acorn.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
