:root {
    --colors_bg: #f1e698;
    --colors_bg-substrate: #896129;
    --colors_bg-nav: #765432;
    --colors_link: #5a2e0b;
    --colors_font: #171717;
    --colors_separator: rgba(0,0,0,.1);
    --colors_border: #754321;
    --colors_btn: #fefefe;
    --colors_btn-alt: #91672c;
    --colors_btn-brd: #71470c;
    --colors_btn-dis: lightgray;
    --colors_btn-dis-alt: gray;
    --colors_btn-dis-brd: darkgray;
    --colors_error: red;
    --colors_table: #e9de91;
    --colors_table-alt: #e3d286;
    --colors_table-head: #bd9f7a;
    --colors_table-head-text: #fdfdfd;
    --colors_table-subtitle: #d6bd80;
    --colors_table-hover: #d0aa7d;
    --colors_post-bg: #e0ca75;
    --colors_post-target: #d2bd69;
    --colors_munu-button-hover: #e7272e;
    --colors_quote: #11aa05;
    --colors_spoiler: #5a2e0b;
    --colors_post-opmark: orangered;
    --colors_post-trip: #dd3333;
    --colors_thread-icon: red;
}

.oppost {
    --colors_post-bg: var(--colors_bg);
    --colors_post-target: var(--colors_bg);
}
