.creation-form {
    width: 80%;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    display: none;
}

.posting-form {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.form-row {
    margin: 5px 0px;
}

.posting-form .form-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
}

.theme-row label {
    max-width: 35%;
    margin: 0 5px 0 0;
}

.theme-row input {
    flex-grow: 1;
}

.form-row textarea {
    margin: 0;
    flex-grow: 1;
    max-height: 18em;
}

.preview-container {
    width: 100px;
    height: 100px;
    position: relative;
    left: -110px;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .preview-container div {
        margin: 0 auto;
        max-width: 100px;
        max-height: 100px;
    }

.preview-imgage {
    max-width: 100px;
    max-height: 100px;
    display: none;
}

.switcher {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    display: table;
    margin: 0 auto 5px auto;
    padding: 1px 10px;
    border: 1px solid #f1e698;
}

    .switcher:hover,
    .switcher:focus {
        border: 1px solid brown;
    }

.error-list ul {
    padding: 0;
}

.error-list li {
    list-style: none;
    color: var(--colors_error);
    margin: 3px 0 0;
    font-size: 0.9em;
}

    .error-list li::before {
        content: "- ";
    }

.authform {
    padding: 0.5rem;
    margin: 10px 0px;
}

    .authform span {
        margin-left: 5px;
    }

    .authform ul {
        padding: 0px;
        list-style-type: none;
    }

.authform-error {
    color: var(--colors_error);
}

.authform .field-validation-error {
    display: inline-block;
}

.authform .field-validation-valid {
    display: none;
}

.auth__fieldset {
    width: 500px;
    display: block;
    margin: auto;
    border-color: var(--colors_border);
}

    .auth__fieldset legend {
        margin: auto;
    }

.input-row__label {
    display: block;
}

.input-row__input {
    width: 100%;
}
