html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #171717;
    background-color: #f1e698;
}


a {
    color: #5a2e0b;
}

.text-center {
    text-align: center;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.img-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 4rem;
    max-height: 15vh;
}

.line-split {
    height: 1.5px;
    color: cornflowerblue;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

.clear-float {
    clear: both;
}

.board-name {
    text-align: center;
    font-weight: 400;
}
/*main page*/

/*error page*/
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
}

.error-row {
    margin: 0 0 5px 0;
}

.error-container__caption {
    font-size: 3.5rem;
}

.error-container__description {
    color: #8f8f8f;
    font-size: 1.33rem;
    font-weight: 200;
    line-height: 75%;
}

.error-container__code {
    font-weight: 400;
    color: #da9305fd;
}

.error-container__image {
    height: 180px;
    max-height: 33vh;
    min-height: 150px;
}

.navbar {
    font-size: 1.15rem;
}

    .navbar a {
        margin:0 10px 0 0;
    }

    .navbar img {
        width: 1em;
        height: 1em;
    }



.page-number-info,
.page-link {
    background-color: #896129;
    margin: 2px 0.1em;
    padding: 3px 0.33em;
    display: inline-block;
    border-radius: 3px;
}

    .page-link a {
        color: white;
        text-decoration: none;
    }

.page-number-info {
    color: white;
    margin-right: 15px;
}

.page-first {
    border-radius: 40% 0px 0px 40%;
}

.page-last {
    border-radius: 0px 20px 20px 0px;
}

.page-current {
    background-color: #765432;
    font-weight: bold;
}
