html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--colors_font);
    background-color: var(--colors_bg);
}

a {
    color: var(--colors-link);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--colors_separator);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.clear-float {
    clear: both;
}

.board-name {
    text-align: center;
    font-weight: 400;
}

.navbar {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
}

    .navbar a {
        margin: 0 10px 0 0;
    }

    .navbar img {
        width: 1em;
        height: 1em;
    }

.auth-action {
    font-weight: 500;
}
