html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--colors_font);
    background-color: var(--colors_bg);
}

a {
    color: var(--colors-link);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--colors_separator);
}

.text-center {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.clear-float {
    clear: both;
}

.board-name {
    text-align: center;
    font-weight: 400;
}

.navbar {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
}

    .navbar a {
        margin: 0 10px 0 0;
    }

    .navbar img {
        width: 1em;
        height: 1em;
    }

.page-number-info,
.page-link {
    background-color: var(--colors_bg-substrate);
    margin: 2px 0.1em;
    padding: 3px 0.33em;
    display: inline-block;
    border-radius: 3px;
}

    .page-link a {
        color: white;
        text-decoration: none;
    }

.page-number-info {
    color: white;
    margin-right: 15px;
}

.page-first {
    border-radius: 40% 0px 0px 40%;
}

.page-last {
    border-radius: 0px 20px 20px 0px;
}

.page-current {
    background-color: var(--colors_bg-nav);
    font-weight: bold;
}

.auth-action {
    font-weight: 500;
}
