.welcome {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.board-list {
    width: 420px;
    margin: 25px auto 15px;
}

.board-list__head {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.board-list__list {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    width: 95%;
    margin: auto;
}

.board-list__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.favorite-threads a {
    text-decoration: none;
}

.favorite-threads {
    width: 500px;
    margin: 0 auto;
}

.favorite-threads__head {
    text-align: center;
    font-size: 1.25rem;
    margin: 10px 0 10px;
}

.favorite-threads__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.favorite-thread__item {
    border: 2px solid #654321;
    border-radius: 5px;
    width: 30%;
    padding: 3px;
    box-sizing: border-box;
}

.favorite-thread__caption {
    margin: 0;
    font-style: italic;
    text-align: center;
}

.logo {
    margin: 0 20px;
}

.logo-img {
    width: 100%;
    border-radius: 5px;
}

.favorite-thread__image {
    max-width: 90%;
    display: block;
    margin: 0.75em auto;
    max-height: 150px;
}

.favorite-thread__message {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
