.post {
    margin: 5px 5px 5px 20px;
    padding: 3px 30px 3px 3px;
    border-radius: 0.25rem;
    background: #e0ca75;
    max-width: 80vw;
    display: inline-block;
}

    .post:target {
        border: 2px solid #af8840;
        background: #d5b484;
    }

.post-owned {
    border-left: 3px solid brown;
}

.thread .post-container:first-of-type .post {
    margin: 0;
    background: 0;
    border: none;
}

    .thread .post-container:first-of-type .post .post__message {
        white-space: pre-line;
        overflow: unset;
        max-height: none;
    }

.post__subject {
    font-weight: bolder;
}

.post__author {
    font-style: italic;
}

.post__number {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.post__details {
    color: #301500;
    font-size: 0.88em;
}

.post__images {
    float: left;
    margin: 5px 15px 0px 5px;
}

.post__image-container {
    display: inline-block;
    transition-duration: 0.15s;
    max-width: 175px;
    min-width: 150px;
}

.post__image {
    max-width: 100%;
    max-height: 100%;
}



.post__file-info {
    font-size: 00.75em;
}

.post__file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .post__file-name a {
        color: #301500;
        text-decoration: none;
    }

.post__file-size {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 2px;
}

    .post__file-size span {
        margin: 0px 5px 0px 0px;
        overflow: hidden;
        white-space: nowrap;
    }

    .post__file-size .full-size {
        min-width: 35px;
        text-align: center;
        flex-shrink: 0;
        overflow: visible;
        background-color: #d69428;
        border-radius: 5px;
        cursor: pointer;
    }

.post__message {
    margin: .75em 0 .75px 1.25em;
    padding: 2px;
    overflow: auto;
    max-height: 400px;
    white-space: normal;
}

.post-withimage {
    min-width: 400px;
}

.ref-post {
    color: brown;
}

.refmap-body {
    margin: 0px 0px 0px -0.7em;
}

.refmap-span {
    font-size: 0.75em;
    margin: 0px 0px 0px 0.55em;
    font-style: italic;
    display: inline-block;
}

.oppost-container::after,
.post-body::after {
    content: '';
    display: block;
    clear: both;
}

.oppost-container .post-body::after {
    display: none;
}

.oppost-container .post {
    display: block;
}

.to-thread {
    margin-top: 1em;
    color: #7e2020;
}

    .to-thread a {
        text-decoration: none;
        color: crimson;
    }
