.thread,
.threads-container hr {
    clear: both;
}

.thread_hidden > :not(.post-container:first-of-type, .thread__subject) {
    display: none;
}

.thread_hidden .post-container {
    display: inline-block;
}

.thread__subject {
    font-weight: bolder;
}

.thread-icon {
    fill: var(--colors_thread-icon);
    height: 1em;
    vertical-align: -2px;
}
