.post .quote {
    color: var(--colors_quote);
}

.spoiler {
    color: var(--colors_spoiler);
    background: var(--colors_spoiler)
}

    .spoiler:hover {
        color: var(--colors-font);
        background: var(--colors-post-bg)
    }
