@using System.Linq.Expressions;
@model OakChan.Areas.Administration.ViewModels.AppConfiguratonViewModel
<form method="post"
      asp-area="Administration"
      asp-controller="Configuration"
      asp-action="Update"
      class="properties-form">
    <partial name="_PropertiesEditorTablePartial" model="Model" />
    <button type="submit" class="oakbutton">Save</button>
</form>
