@using OakChan.ViewModels
@model ThreadViewModel
@{
    ViewBag.Title = Model.OpPost.Subject ?? (Model.OpPost.Message.Length <= 32 ?
        Model.OpPost.Message :
        Model.OpPost.Message.Substring(0, 29) + "...") + " - OakChan";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<partial name="_NavigationHeaderPartial" />
<hr />
<p class="switcher" tabindex="0" id="switcher" onclick="switchFormVisibility()" data-switched-text="@Localizer["Hide form"]">@Localizer["Write a post"]</p>

<partial name="_PostCreationFormPartial" model="new PostFormViewModel()" />
<div class="thread">
    <partial name="_PostView" model="Model.OpPost" />
    @foreach (var post in Model.Replies)
    {
        <partial name="_PostView" model="post" />
    }
</div>

