@model Microsoft.AspNetCore.Http.IFormFile
<div class="posting-form__attachment">
    <input class="attachment-input"
           id="attachment-input"
           accept=".gif,.jpg,.png,.jpeg"
           type="file"
           asp-for="@Model"
           onchange="loadImagePreview(this.files)" />
    <div id="attachment-selector"
         class="attachment-selector">
        <label for="attachment-input" class="oakbutton">@Localizer["Image"]</label>
    </div>
    <div id="attachment-info">
        <img id="attachment-thumbnail"
             class="attachment-thumbnail"
             onload="attachmentLoaded(this)"
             onerror="attachmentLoadFailed(this)" />
        <div id="attachment-resolution"></div>
        <div id="attachment-size"></div>
        <button type="button" onclick="clearAttachment()">X</button>
    </div>
</div>