<div class="auth-panel">
    <a class="auth-panel__action"
       asp-area="Administration"
       asp-controller="Account"
       asp-action="Login">@Localizer["Login"]</a>
    <a class="auth-panel__action"
       asp-area="Administration"
       asp-controller="Account"
       asp-action="Register">@Localizer["Register"]</a>
</div>
