@model Vookaba.ViewModels.Board.BoardPropertiesViewModel
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<div>
    <h2>@Localizer["Create new board"]</h2>
    <form method="post" asp-controller="Board" asp-action="Create">
        <partial name="./PartialTemplates/_PropertiesEditorTable" model="Model" />
        <button type="submit">@Localizer["Create"]</button>
    </form>
    <div class="error-text" class="fancy-button" asp-validation-summary="ModelOnly"></div>
</div>