@model Vookaba.ViewModels.BoardPropertiesViewModel
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<h2>@Localizer["Edit board"] /@Model.BoardKey/</h2>

<form method="post"
      asp-controller="Board"
      asp-action=@nameof(Vookaba.Controllers.BoardController.Update)
      asp-route-board=@Model.BoardKey
      class="properties-form">
    <partial name="_PropertiesEditorTablePartial" model="Model" />
    <button type="submit" class="fancy-button">@Localizer["Update"]</button>
</form>

<hr />
<fieldset class="danger-zone">
    <legend>@Localizer["Danger zone"]</legend>
    <partial name="_DeleteBoardFormPartial" model="Model.BoardKey" />
</fieldset>
