<div>
    <h5>@Localizer["Create invitation"]</h5>
    <form id="invForm" name="invForm" class="invite-form" asp-antiforgery="true">
        <text>@Localizer["Expired in "]</text>
        <input type="number" name="expDays" size="5" value="30" />
        <text>@Localizer[" days."]</text>
        <button class="fancy-button" type="submit">@Localizer["Create"]</button>
    </form>
    <div id="inv-error" class="inv-error authform-error" style="display:none;"></div>
</div>