@model IEnumerable<Vookaba.Services.DTO.StaffDTO>

@foreach (var staff in Model)
{
    <tr>
        <td>@staff.Name</td>
        <td>@staff.Email</td>
        <td class="text-center">@string.Join(", ", staff.Boards)</td>
        <td class="text-center">
            <span> <a asp-controller="Account" asp-action="UserDetails" asp-route-userId="@staff.Id">[@Localizer["Edit"]]</a></span>
        </td>
    </tr>
}
