@model Vookaba.ViewModels.Thread.ThreadViewModelBase
@if (Model.IsPinned)
{
    <partial name="./Icons/_Pin" />
}
@if (Model.IsReadOnly)
{
    <partial name="./Icons/_Lock" />
}
<span class="thread__subject">@Model.Subject</span>