@model IEnumerable<OakChan.Identity.ApplicationUser>

@foreach (var user in Model)
{
    <tr>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td class="text-center">boards</td>
        <td class="text-center">
            <span> <a asp-controller="Account" asp-action="EditUser" asp-route-userId="@user.Id">[@Localizer["Edit"]]</a></span>
        </td>
    </tr>
}
