@model OakChan.Areas.Administration.ViewModels.AdminDashboardViemModel
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/scripts/invitations.js"></script>
}
<div class="dashboard">
    <h1>@Localizer["Oakchan administration"]</h1>
    <hr />
    <div class="dashboard-section">
        <h3>@Localizer["Boards:"]</h3>
        <partial name="_BoardsListPartial" model="Model.Boards" />
    </div>
    <hr />
    <div class="dashboard-section">
        <h3>@Localizer["Users:"]</h3>
        <partial name="_StaffListPartial" model="Model.Staff"/>
        <partial name="_InvitationsPartial" />
    </div>
    <hr />
</div>
