html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: var(--colors_font);
    background-color: var(--colors_bg);
}

a {
    color: var(--colors-link);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--colors_separator);
}

.main {
    margin: 5px 5px 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: center;
}

.clear-float {
    clear: both;
}

.board-name {
    text-align: center;
    font-weight: 400;
}

.navbar {
    margin: 5px 10px;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
}

    .navbar a {
        margin: 0 10px 0 0;
    }

    .navbar img {
        width: 1em;
        height: 1em;
    }

.auth-action {
    font-weight: 500;
}

.error-text {
    color: var(--colors_error);
}


.properties-form {
    margin: 10px;
}

    .properties-form .oakbutton {
        margin-top: 5px;
    }

.danger-zone {
    --colors_btn-alt: red;
    --colors_btn-brd: red;
    border-color: red;
    max-width: 600px;
}

    .danger-zone form {
        display: flex;
        justify-content: space-between;
    }

        .danger-zone form label {
            max-width: 80%;
        }
