.notifier {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    z-index: 99;
    max-width: 400px;
}

.notification {
    border-radius: 0.3em;
    background-color: var(--colors_post-bg);
    border: 1px solid var(--colors_border);
    margin: 3px;
    padding: 3px 16px;
}

.notification_error {
    background-color: var(--colors_post-bg);
    border: 2px solid red;
    color: red;
}
