@model string
<form method="post"
      asp-controller="Board"
      asp-route-board="@Model"
      asp-action="@nameof(OakChan.Controllers.BoardController.Delete)">
    <button id="brd-delete" type="submit" class="oakbutton">@Localizer["Delete"]</button>
</form>
