@model OakChan.ViewModels.ThreadFormViewModel

<div class="creation-form" id="form">
    <div class="preview-container">
        <div>
            <img id="preview-img" class="preview-imgage" />
        </div>
    </div>
    <form id="posting-form"
          class="posting-form"
          method="post"
          enctype="multipart/form-data"
          asp-route="createThread"
          asp-route-board="@Context.Request.RouteValues["board"]">

        <div class="form-row theme-row">
            <label asp-for="Subject">@Localizer["Subject"]</label>
            <input asp-for="Subject" autocomplete="off" />
        </div>
        <div class="form-row">
            <textarea class="form-control" rows="4" id="form-msg" asp-for="Text"></textarea>
        </div>
        <div class="form-row">
            <div class="fake-button">
                <input class="hidden-input" id="post-img" accept=".gif,.jpg,.png,.jpeg" type="file" asp-for="Image" onchange="loadImagePreview(this.files)" />
                <label for="post-img">@Localizer["Image"]</label>
            </div>
            <button class="oakbutton" type="submit">@Localizer["Create"]</button>
        </div>
        <div class="form-row error-list" asp-validation-summary="All"></div>
    </form>
</div>