@model OakChan.ViewModels.BoardPropertiesViewModel
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<h2>@Localizer["Edit board"] /@Model.BoardKey/</h2>
<fieldset>

<form method="post"
      asp-controller="Board"
      asp-action=@nameof(OakChan.Controllers.BoardController.Update)
        <button type="submit">@Localizer["Update"]</button>
    </form>
</fieldset>
      asp-route-board=@Model.BoardKey
    <partial name="_PropertiesEditorTablePartial" model="Model" />
<hr />
<fieldset>
    <legend>@Localizer["Danger zone"]</legend>
    <partial name="_DeleteBoardFormPartial" model="Model.BoardKey" />
</fieldset>
