<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="${basedir}/nlogs/nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File"
            name="allfile"
            fileName="${basedir}/logs/log-full-${shortdate}.log"
            archiveFileName="${basedir}/logs/arch/full/${shortdate}.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="ownFile-web"
            fileName="${basedir}/logs/log-vookaba-${shortdate}.log"
            archiveFileName="${basedir}/logs/arch/vookaba/${shortdate}.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="14"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />


    <target xsi:type="File"
            name="something-bad"
            fileName="${basedir}/logs/log-errors-${shortdate}.log"
            archiveFileName="${basedir}/logs/arch/errors/${shortdate}.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="90"
            layout="${longdate}|${level:uppercase=true}|[${callsite-linenumber} ${callsite}]${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="something-bad"/>
    
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="Vookaba.*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>
